%h1= @list.title

%table
- @todos.each do |todo|
  %td= link_to display_todo_state(todo.state), list_todo_path(@list, todo), method: :delete
  %td= link_to todo.task, list_todo_path(@list, todo), method: :delete
  %br

= render 'todos/form'
= button_to 'Change list title', edit_list_path(@list)
