!!!
%html{ lang: 'en' }
  %head
    %title= NotAnotherToDoApp
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body

  = link_to "Not a ToDo list app", root_path

  - if user_signed_in?
    = button_to 'Log out', destroy_user_session_path, method: :delete
  - else
    = button_to 'Log in', new_user_session_path, method: :get
    = button_to 'Sign up', new_user_registration_path, method: :get

  - flash.each do |name, msg|
    - if msg == 'notice' || 'success'
      .alert.alert-success= msg
    - else
      .alert.alert-danger= msg

  = yield
